# SPDX-FileCopyrightText: 2025 IObundle
#
# SPDX-License-Identifier: MIT

software/python/__pycache__/*
scripts/pyRawWrapper/pyRawWrapper

hardware/fpga/quartus/**/iob_eth_dev.sdc
hardware/fpga/vivado/**/iob_eth_dev.sdc
